<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aszz.cert.mapper.CertSignMapper">
  <resultMap id="BaseResultMap" type="com.aszz.cert.model.CertSign">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cert_id" jdbcType="BIGINT" property="certId" />
    <result column="sign_code" jdbcType="INTEGER" property="signCode" />
    <result column="cert_star" jdbcType="VARCHAR" property="certStar" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="csruser" jdbcType="VARCHAR" property="csruser" />
    <result column="sign_time" jdbcType="TIMESTAMP" property="signTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="reserve1" jdbcType="VARCHAR" property="reserve1" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cert_id, sign_code, cert_star, sn, subject, csruser, sign_time, update_user, 
    update_time, reserve1
  </sql>
  <select id="selectByExample" parameterType="com.aszz.cert.model.CertSignExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cert_sign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cert_sign
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cert_sign
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.aszz.cert.model.CertSignExample">
    delete from cert_sign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aszz.cert.model.CertSign">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cert_sign (cert_id, sign_code, cert_star, 
      sn, subject, csruser, 
      sign_time, update_user, update_time, 
      reserve1)
    values (#{certId,jdbcType=BIGINT}, #{signCode,jdbcType=INTEGER}, #{certStar,jdbcType=VARCHAR}, 
      #{sn,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, #{csruser,jdbcType=VARCHAR}, 
      #{signTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{reserve1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aszz.cert.model.CertSign">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cert_sign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="certId != null">
        cert_id,
      </if>
      <if test="signCode != null">
        sign_code,
      </if>
      <if test="certStar != null">
        cert_star,
      </if>
      <if test="sn != null">
        sn,
      </if>
      <if test="subject != null">
        subject,
      </if>
      <if test="csruser != null">
        csruser,
      </if>
      <if test="signTime != null">
        sign_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="reserve1 != null">
        reserve1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="certId != null">
        #{certId,jdbcType=BIGINT},
      </if>
      <if test="signCode != null">
        #{signCode,jdbcType=INTEGER},
      </if>
      <if test="certStar != null">
        #{certStar,jdbcType=VARCHAR},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="csruser != null">
        #{csruser,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aszz.cert.model.CertSignExample" resultType="java.lang.Long">
    select count(*) from cert_sign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cert_sign
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.certId != null">
        cert_id = #{record.certId,jdbcType=BIGINT},
      </if>
      <if test="record.signCode != null">
        sign_code = #{record.signCode,jdbcType=INTEGER},
      </if>
      <if test="record.certStar != null">
        cert_star = #{record.certStar,jdbcType=VARCHAR},
      </if>
      <if test="record.sn != null">
        sn = #{record.sn,jdbcType=VARCHAR},
      </if>
      <if test="record.subject != null">
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.csruser != null">
        csruser = #{record.csruser,jdbcType=VARCHAR},
      </if>
      <if test="record.signTime != null">
        sign_time = #{record.signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reserve1 != null">
        reserve1 = #{record.reserve1,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cert_sign
    set id = #{record.id,jdbcType=BIGINT},
      cert_id = #{record.certId,jdbcType=BIGINT},
      sign_code = #{record.signCode,jdbcType=INTEGER},
      cert_star = #{record.certStar,jdbcType=VARCHAR},
      sn = #{record.sn,jdbcType=VARCHAR},
      subject = #{record.subject,jdbcType=VARCHAR},
      csruser = #{record.csruser,jdbcType=VARCHAR},
      sign_time = #{record.signTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      reserve1 = #{record.reserve1,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aszz.cert.model.CertSign">
    update cert_sign
    <set>
      <if test="certId != null">
        cert_id = #{certId,jdbcType=BIGINT},
      </if>
      <if test="signCode != null">
        sign_code = #{signCode,jdbcType=INTEGER},
      </if>
      <if test="certStar != null">
        cert_star = #{certStar,jdbcType=VARCHAR},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="csruser != null">
        csruser = #{csruser,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null">
        sign_time = #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserve1 != null">
        reserve1 = #{reserve1,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aszz.cert.model.CertSign">
    update cert_sign
    set cert_id = #{certId,jdbcType=BIGINT},
      sign_code = #{signCode,jdbcType=INTEGER},
      cert_star = #{certStar,jdbcType=VARCHAR},
      sn = #{sn,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      csruser = #{csruser,jdbcType=VARCHAR},
      sign_time = #{signTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      reserve1 = #{reserve1,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>